.places {
  max-width: 984px;
  margin: 0 auto 92px;
  padding: 0 48px;
}


@media screen and (max-width: 1000px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .places {
    margin-bottom: 66px;
  }
}

@media screen and (max-width: 390px) {
  .places {
    padding: 0;
  }
}
