.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 1;
  font-weight: 900;
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 600px;
    font-size: 72px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
