@import url(../vendor/normalize.css);
@import url(../vendor/variables.css);
@import url(../vendor/fonts/Inter.css);

:root {
  --clr-background: #2A2C2F;
  --clr-text: #fff;
  --clr-accent: #aaa;
}

.page {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var(--clr-background);
  color: var(--clr-text);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
  margin: 28px auto 56px;
  padding: 0 48px;
}

.header__logo {
  width: 176px;
}

.header__lang {
  font-size: 24px;
  line-height: 1.15;
}

.header__lang-link {
  color: var(--clr-text);
  display: inline-block;
}

.header__lang-link:first-of-type {
  margin-right: 18px;
}

.header__lang-link_inactive {
  text-decoration: none;
}

.lead {
  max-width: 984px;
  margin: 0 auto 92px;
  padding: 0 48px;
  text-align: center;
}

.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 1;
  font-weight: 900;
}

.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  text-align: left;
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  max-width: 984px;
  margin: 0 auto 92px;
  padding: 0 48px;
}

.intro__title {
  margin: 0 0 40px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
}

.intro__text {
  max-width: 690px;
  margin: 0 0 33px;
  font-size: 16px;
  line-height: 1.625;
}

.intro__items {
  list-style-type: none;
  padding: 0;
}

.intro__item {
  font-size: 12px;
  line-height: 1.5;
}

.intro__item_style_bold {
  font-weight: 700;
}

.photo-grid {
  margin: 0 auto 92px;
  padding: 0 48px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
}

.places {
  max-width: 984px;
  margin: 0 auto 92px;
  padding: 0 48px;
}

.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(440px, 460px) calc(50% - 40px);
  grid-template-rows: repeat(2, auto);
  gap: 48px 40px;
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
}

.place__website {
  align-self: end;
}

.place__link-text {
  font-size: 12px;
  line-height: 1;
  color: var(--clr-accent);
}

.place__link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--clr-text);
}

.place__image {
  max-width: 100%;
}

.place__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.place__text:last-of-type {
  margin-bottom: 0;
}

.cover {
  box-sizing: border-box;
  margin: 0 auto 92px;
  padding: 20% 10px;
  max-width: 1184px;
  max-height: 740px;
  background-image: url(../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.cover__link {
  text-decoration: none;
  color: var(--clr-text);
}

.cover__title {
  position: relative;
  z-index: 2;
  max-width: 560px;
  margin: 0 auto 32px;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
}

.cover__subtitle {
  position: relative;
  z-index: 2;
  max-width: 360px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.22;
}

.cover__image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .7;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);
  opacity: .3;
  transition: all .5s;
}

.cover:hover .cover__overlay {
  opacity: .8;
  transition: all .5s;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: 0 auto 24px;
  padding: 0 48px;
  font-size: 16px;
  line-height: 1.2;
}

.footer__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 18px;
}

.footer__link {
  text-decoration: none;
  color: var(--clr-text);
}

.footer__copy {
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }

  .lead {
    max-width: 928px;
    padding: 0;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .place {
    margin-bottom: 80px;
    grid-template-columns: minmax(340px, 440px) calc(50% - 32px);
    column-gap: 32px;
  }

  .cover {
    max-height: 640px;
  }
}


@media screen and (max-width: 1000px) {
  .header {
    padding: 0 24px;
  }

  .lead {
    padding: 0 24px;
    margin-bottom: 88px;
  }

  .intro {
    padding: 0 24px;
    margin-bottom: 88px;
  }

  .photo-grid {
    padding: 0 24px;
    margin-bottom: 88px;
  }

  .places {
    padding: 0 24px;
  }

  .cover {
    margin-bottom: 88px;
  }

  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
    .lead {
    padding: 0;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .place {
    margin-bottom: 73px;
    grid-template-columns: minmax(250px, 340px) calc(50% - 28px);
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__text {
    font-size: 16px;
  }

  .cover {
    max-height: 480px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 600px;
    font-size: 72px;
  }

  .intro__title {
    font-size: 42px;
  }

  .cover__title {
    max-width: 400px;
    font-size: 54px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    margin-top: 16px;
    padding: 0 16px;
  }

  .header__logo {
    width: 142px;
  }

  .header__lang {
    font-size: 18px;
  }

  .lead {
    margin-bottom: 64px;
  }

  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
  }

  .lead__caption {
    margin-left: 16px;
  }

  .intro {
    padding: 0 16px;
    margin-bottom: 64px;
  }

  .intro__title {
    font-size: 32px;
  }

  .photo-grid {
    padding: 0 16px;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin-bottom: 64px;
  }

  .places {
    padding: 0 24px;
    margin-bottom: 66px;
  }

  .place {
    margin-bottom: 50px;
    grid-template-columns: minmax(320px, 550px);
    gap: 32px;
  }

  .place__title {
    font-size: 32px;
    line-height: 1.1;
  }

  .cover {
    max-height: 350px;
    margin-bottom: 64px;
  }

  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.1;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }

  .footer {
    padding: 0 16px;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__item {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {

  .places {
    padding: 0;
  }

  .place__title {
    padding: 0 16px;
  }

  .place__website {
    padding: 0 16px;
  }

  .place__text {
    padding: 0 16px;
  }

  .cover {
    max-height: 200px;
  }

  .cover__subtitle {
    max-width: 288px;
  }
}
